@model iotDash.Models.AlarmSystemUserAddModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container-fluid">

    <div class="row">

    </div>

    <div class="row">
        <div id="addraz">
            @using (Html.BeginForm("Edit", "AlarmSystemUsersConfig"))
            {
                <fieldset>

                    <legend>Edit user</legend>


                    <div class="form-group">
                        @Html.HiddenFor(model => model.User.Id)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Login)
                        @Html.TextBoxFor(model => model.User.Login, new { @class = "form-control", @id = "devname" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Password)
                        @Html.TextBoxFor(model => model.User.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Permissions)
                        @Html.EditorFor(model => model.User.Permissions, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Group)
                        @Html.EditorFor(model => model.User.Group, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.AllowedFrom)
                        @Html.EditorFor(model => model.User.AllowedFrom, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.AllowedUntil)
                        @Html.EditorFor(model => model.User.AllowedUntil, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>

                </fieldset>
            }
        </div>

    </div>

    <div class="row">
        <div id="resultview">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Result))
        </div>
    </div>


</div>