@using sconnConnector.POCO.Config.Abstract.Auth
@model iotDash.Models.AlarmSystemUserConfigModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h2>Users</h2>
    </div>


    <div class="panel-body">


        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
            </div>
        </div>
        <div class="row">

            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Allowed from</th>
                        <th>Allowed until</th>
                        <th>Permissions</th>
                        <th>Group</th>
                        <th>Enabled</th>
                    </tr>


                    @foreach (sconnUser d in Model.Users)
                    {
                        <tr id="@d.Id.ToString()" class="rowRecord row-normal">

                            <td> @d.Login </td>
                            <td> @d.Password</td>
                            <td> @d.AllowedFrom</td>
                            <td> @d.AllowedUntil</td>
                            <td> @d.Permissions</td>
                            <td> @d.Group</td>
                            <td> @d.Enabled</td>

                        </tr>
                    }

                </table>
            </div>
        </div>


        <div class="row">

        </div>

    </div>

</div>
