@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemEventsModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@functions
{

    public string GetEventRowClassForType(sconnEventType type)
    {
        if (
            type == sconnEventType.EVENT_TYPE_ACTIVATION ||
            type == sconnEventType.EVENT_TYPE_ADD_USER ||
            type == sconnEventType.EVENT_TYPE_CHANGE_PASSWD ||
            type == sconnEventType.EVENT_TYPE_SET_PASSWD ||
             type == sconnEventType.EVENT_TYPE_ARM ||
            type == sconnEventType.EVENT_TYPE_DISARM ||
            type == sconnEventType.EVENT_TYPE_ENTER
            )
        {
            return "info";
        }
        else if
            (
            type == sconnEventType.EVENT_TYPE_BOOT ||
            type == sconnEventType.EVENT_TYPE_CONFIG_CHANGE ||
            type == sconnEventType.EVENT_TYPE_DET_CONN_LOSS ||
            type == sconnEventType.EVENT_TYPE_DEVICE_ADDED
            )
        {
            return "warning";
        }
        //else if
        //(

        //)
        //{
        //    return "success";
        //}
        else if
        (
            type == sconnEventType.EVENT_TYPE_DET_HUM_BREACH ||
            type == sconnEventType.EVENT_TYPE_POWER_LOSS ||
            type == sconnEventType.EVENT_TYPE_HW_FAILURE ||
            type == sconnEventType.EVENT_TYPE_DET_MASKING ||
            type == sconnEventType.EVENT_TYPE_DET_VIOLATION ||
            type == sconnEventType.EVENT_TYPE_DET_SABOTAGE
        )
        {
            return "danger";
        }
        else
        {
            return "";
        }
    }



}


<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h2>Events</h2>
    </div>

    <div class="panel-body">


        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Domain</th>
                        <th>Device Id</th>
                    </tr>


                    @foreach (sconnEvent d in Model.Events)
                    {
                        <tr id="@d.Id.ToString()" class="@GetEventRowClassForType(d.Type) rowRecord row-normal">

                            <td> @d.Id </td>
                            <td> @d.Type</td>
                            <td> @d.Domain</td>
                            <td> @d.DeviceId</td>

                        </tr>
                    }

                   
                </table>
            </div>
        </div>

    </div>

</div>

