@model iotDash.Models.DeviceAddModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script>

    $(function () {

        $('#AddDeviceForm').submit(function () {
            $.ajax({
                url: '@Url.Action("New", "Device")',
                type: this.method,
                data: {
                    SiteId: '@Model.DeviceSite.Id.ToString()',
                    Name: $('#DeviceName').val(),
                    Host: $('#DeviceEpHostname').val(),
                    Port: $('#DeviceEpPort').val(),
                    Login: $('#DeviceEpLogin').val(),
                    Pass: $('#DeviceEpPassword').val(),
                    Type: $('#DeviceType').val(),
                    Loc: $('#DeviceLocation').val(),
                    Prot: $('#DeviceProtocol').val()
                },
                success: function (result) {
                    $('#resultview').html(result);
                }
            });
            return false;
        });

    });



</script>



<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <h3>Add device to @Model.DeviceSite.SiteName<small></small></h3>
            <br /><br />

            <form role="form" action="" method="post" id="AddDeviceForm">

                @* Display name *@
                <div class="form-group">
                    <label for="DeviceName">Name</label>
                    <input class="form-control" id="DeviceName" type="text" />
                </div>

                @* Endpoint data *@
                <div class="form-group">
                    <label for="DeviceEpHostname">Hostname</label>
                    <input class="form-control" id="DeviceEpHostname" type="text" />
                </div>

                <div class="form-group">
                    <label for="DeviceEpPort">Port</label>
                    <input class="form-control" id="DeviceEpPort" type="number" />
                </div>

                <div class="form-group">
                    <label for="DeviceEpLogin">Login</label>
                    <input class="form-control" id="DeviceEpLogin" type="text" />
                </div>

                <div class="form-group">
                    <label for="DeviceEpPassword">Password</label>
                    <input class="form-control" id="DeviceEpPassword" type="password" />
                </div>

                @* Type *@
                <div class="form-group">
                    <label for="DeviceType">Type</label>
                    <select id="DeviceType" class="form-control">
                        @if (Model != null)
                        {
                            foreach (var item in Model.Types)
                            {
                                <option value="@item.Id">@item.TypeName</option>
                            }
                        }
                    </select>
                </div>

                @* Location *@
                <div class="form-group">
                    <label for="DeviceLocation">Location</label>
                    <select id="DeviceLocation" class="form-control">
                        @if (Model != null)
                        {
                            foreach (var item in Model.Locations)
                            {
                                <option value="@item.Id">@item.LocationName</option>
                            }
                        }
                    </select>
                </div>

                @* Protocols *@
                <div class="form-group">
                    <label for="DeviceProtocol">Protocol</label>
                    <select id="DeviceProtocol" class="form-control">
                        <option value="Sconn">Sconn</option>
                        <option value="MQTT">MQTT</option>
                        <option value="AllJoyn">AllJoyn</option>
                        <option value="CoAP">CoAP</option>
                        <option value="RESTful">RESTful</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Add</button>

            </form>
</div>
    </div>

    <div class="row">
        <div id="addraz">
            @using (Html.BeginForm("Create", "Device"))
            {
                <fieldset>

                    <legend>Device</legend>

                    <div class="form-group">
                        @Html.HiddenFor(model => model.DeviceSiteId)
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.DeviceName, new { @class = "form-control" })*@
                        <label for="devname">Name</label>
                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @id = "devname" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceIpAddr, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.DeviceIpAddr, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceNetPort, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.DeviceNetPort, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceLogin, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.DeviceLogin, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DevicePassword, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.DevicePassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceLocation, new { @class = "form-control" })
                        @Html.DropDownListFor(
                     model => model.LocationId,
                         new SelectList(
                           Model.Locations,
                           "Id",
                            "LocationName",
                            Model.DeviceLocation
                            ),
                          new { @class = "form-control" }
                        )
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceType, new { @class = "form-control" })
                        @Html.DropDownListFor(
                        model => model.DeviceTypeId,
                         new SelectList(
                           Model.Types,
                            "Id",
                            "TypeName",
                            Model.DeviceType
                            ),
                          new { @class = "form-control" }
                        )
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceIsVirtual, new { @class = "form-control" })
                        @Html.EditorFor(model => model.DeviceIsVirtual)
                        @*@Html.DropDownListFor(
                        model => model.DeviceIsVirtual,
                          new[] {
                              new SelectListItem { Text = "True", Value = "1" },
                              new SelectListItem { Text = "False", Value = "0" }
                                }
                        )*@
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Send" />
                    </div>



                </fieldset>
            }
        </div>

    </div>

    <div class="row">
        <div id="resultview">

        </div>
    </div>


</div>