@model iotDash.Models.DeviceAddModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@functions{
    public void SendDeviceCreateRequest()
    {

    }
}

<div class="container-fluid">

    <div class="row">

    </div>

    <div class="row">
        <div id="addraz">
            @using (Html.BeginForm("Create", "Device"))
            {
                <fieldset>

                    <legend>Device</legend>

                    <div class="form-group">
                        @Html.HiddenFor(model => model.DeviceSiteId)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceName)
                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @id = "devname" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceIpAddr)
                        @Html.TextBoxFor(model => model.DeviceIpAddr, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceNetPort)
                        @Html.TextBoxFor(model => model.DeviceNetPort, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceLogin)
                        @Html.TextBoxFor(model => model.DeviceLogin, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DevicePassword)
                        @Html.TextBoxFor(model => model.DevicePassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceLocation)
                        @Html.DropDownListFor(
                     model => model.LocationId,
                         new SelectList(
                           Model.Locations,
                           "Id",
                            "LocationName",
                            Model.DeviceLocation
                            ),
                          new { @class = "form-control" }
                        )
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceType, new { @class = "form-control" })
                        @Html.DropDownListFor(
                        model => model.DeviceTypeId,
                         new SelectList(
                           Model.Types,
                            "Id",
                            "TypeName",
                            Model.DeviceType
                            ),
                          new { @class = "form-control" }
                        )
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.DeviceIsVirtual)
                        @Html.EditorFor(model => model.DeviceIsVirtual)
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>

                </fieldset>
            }
        </div>

    </div>

    <div class="row">
        <div id="resultview">
            @*@Html.Raw(HttpUtility.HtmlDecode(Model.Result))*@
        </div>
    </div>


</div>