@model iotDash.Models.AlarmSystemZoneAddModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container-fluid">

    <div class="row">

    </div>

    <div class="row">
        <div id="addraz">
            @using (Html.BeginForm("Add", "AlarmSystemZonesConfig"))
            {
                <fieldset>

                    <legend>Add zone</legend>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zone.Id)
                        @Html.EditorFor(model => model.Zone.Id, new { @class = "form-control", @id = "devname" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zone.Name)
                        @Html.TextBoxFor(model => model.Zone.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zone.Type)
                        @Html.EditorFor(model => model.Zone.Type, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Send" />
                    </div>

                </fieldset>
            }
        </div>

    </div>

    <div class="row">
        <div id="resultview">

        </div>
    </div>


</div>