@model iotDash.Models.AlarmSystemZoneAddModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading .text-center">
        <h2>Edit zone</h2>
    </div>

    <div class="panel-body">

        <div class="container-fluid">

            <div class="row">

            </div>

            <div class="row">
                <div id="addraz">
                    @using (Html.BeginForm("Edit", "AlarmSystemZonesConfig"))
            {
                        <fieldset>

                            <legend>Add zone</legend>

                            <div class="form-group">
                                @Html.HiddenFor(model => model.Zone.Id)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Zone.Enabled)
                                @Html.EditorFor(model => model.Zone.Enabled, new { @class = "form-control", @id = "devname" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Zone.Name)
                                @Html.TextBoxFor(model => model.Zone.Name, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Zone.Type)
                                @Html.EnumDropDownListFor(model => model.Zone.Type, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>

                        </fieldset>
                    }
                </div>

            </div>

            <div class="row">
                <div id="resultview">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Result))
                </div>
            </div>


        </div>
    </div>

</div>

