@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemZoneConfigModel

@{
    ViewBag.Title = "View";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
            <h2>Zones</h2>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Devices</th>
                         
                    </tr>

           @foreach (sconnAlarmZone d in Model.ZoneConfigs)
            {
                        <tr id="@d.Id.ToString()" class="rowRecord row-normal">

                            <td> @d.Enabled </td>
                            <td> @d.Name</td>
                            <td> @d.Type</td>
                            <td>       </td>

                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>

</div>

