@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemZoneConfigModel

@{
    ViewBag.Title = "View";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
            <h2>Zones</h2>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Devices</th>

                    </tr>

           @foreach (sconnAlarmZone d in Model.ZoneConfigs)
            {
                        <tr>

                            <td> @d.Enabled </td>
                            <td> @d.Name</td>
                            <td> @d.Type</td>
                            <td>       </td>

                            <td>

                                <div class="btn-group-vertical" role="group" aria-label="...">

                                    <button type="button" class="btn btn-default">
                                        <a href="@Url.Action("Edit", "AlarmSystemZonesConfig", new {Zone = d})">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </a>
                                    </button>

                                    <button type="button" class="btn btn-default">
                                        <a href="@Url.Action("Remove", "AlarmSystemZonesConfig", new {Zone = d})">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </button>

                                </div>

                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <a href="@Url.Action("Add", "AlarmSystemZonesConfig")"><span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

