@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemZoneConfigModel

@{
    ViewBag.Title = "View";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading .text-center">
            <h2>Zones</h2>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Devices</th>

                    </tr>

           @foreach (sconnAlarmZone d in Model.ZoneConfigs)
            {
                        <tr>

                            <td> @d.Enabled </td>
                            <td> @d.Name</td>
                            <td> @d.Type</td>
                            <td>        </td>

                            <td>

                                <ul class="sidebar-nav" id="sidebar">

                                    <li role="presentation">
                                        <a href="@Url.Action("Edit", "AlarmSystemZonesConfig")"><span class=" glyphicon glyphicon-wrench"></span></a>
                                    </li>

                                    <li role="presentation">
                                        <a href="@Url.Action("Remove", "AlarmSystemZonesConfig")"><span class=" glyphicon glyphicon-trash"></span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <a href="@Url.Action("Add", "AlarmSystemZonesConfig")"><span class=" glyphicon glyphicon-plus"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

