@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemGsmConfigModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h2>GSM Recipients</h2>
    </div>

    <div class="panel-body">


        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
            </div>
        </div>

        <div class="row">

            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Country Code</th>
                        <th>MessageLevel</th>
                        <th>Enabled</th>
                    </tr>


                    @foreach (sconnGsmRcpt d in Model.GsmRcpts)
                     {
                        <tr id="@d.Id.ToString()" class="rowRecord row-normal" >
                            <td> @d.Name </td>
                            <td> @d.NumberE164 </td>
                            <td> @d.CountryCode</td>
                            <td> @d.MessageLevel</td>
                            <td> @d.Enabled</td>

                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>

</div>
