@using iotDash.Helpers

@{
    Layout = null;
}

@Styles.Render("~/bundles/css/sidebarsimple") 

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/html5shiv")

<script>

    $(function () {

        $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
        });

    });

</script>

<div id="wrapper" class="active">

    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                @Html.ActionLink(DomainRoutingHelpers.GetDomainNameFromContext(this.Context), "IOT", "Home", null, new { @class = "navbar-brand" })
            </li>

            <li role="">

                <a href="@Url.Action("Index", "Site")"><span class="sub_icon glyphicon glyphicon-globe"></span>Sites</a>
             </li>

            <li role="">
                <a href="@Url.Action("Index", "Location")"><span class="sub_icon glyphicon glyphicon-map-marker"></span>Locations</a>
            </li>

            <li role="">
                <a href="@Url.Action("Index", "Settings")"><span class="sub_icon glyphicon glyphicon-wrench"></span>Settings</a>
            </li>

            <li role="">
                <a href="@Url.Action("View", "Users")"><span class="sub_icon glyphicon glyphicon-user"></span>Users</a>
            </li>

        </ul>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
    </div>

</div>