@model iotDash.Models.LocationListViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@{
    ViewBag.Title = "Index";
}


<div id="content">

    <div class="container-fluid">


        <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
                </div>
        </div>


        <div class="row">
            @if (Model.Locations != null)
            {
                foreach (var item in Model.Locations)
                {
                    <div class="col-md-3">
                        <div id="@item.Id" class="panel panel-info">
                            <div class="panel-heading">@item.LocationName</div>
                            <div class="panel-body">
                                <h4>@item.Lat</h4>
                                <h4>@item.Lng</h4>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>


</div>