@using sconnConnector.POCO.Config.sconn
@model iotDash.Models.AlarmSystemGsmConfigModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h2>GSM Recipients</h2>
    </div>

    <div class="panel-body">

        <div class="row">

            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Country Code</th>
                        <th>MessageLevel</th>
                        <th>Enabled</th>
                    </tr>


                    @foreach (sconnGsmRcpt d in Model.GsmRcpts)
            {
                        <tr>
                            <td> @d.Name </td>
                            <td> @d.NumberE164 </td>
                            <td> @d.CountryCode</td>
                            <td> @d.MessageLevel</td>
                            <td> @d.Enabled</td>

                            <td>


                                <div class="btn-group-vertical" role="group" aria-label="...">

                                    <button type="button" class="btn btn-default">
                                        <a href="@Url.Action("Edit", "AlarmSystemGsmConfig", new {Rcpt = d})">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </a>
                                    </button>

                                    <button type="button" class="btn btn-default">
                                        <a href="@Url.Action("Remove", "AlarmSystemGsmConfig", new {Rcpt = d})">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </button>

                                </div>

                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <a href="@Url.Action("Add", "AlarmSystemAuthorizedDevices")"><span class=" glyphicon glyphicon-plus"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
