@using iotDash.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iotDash</title>
    <meta name="description" content="iotDash" />

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/css/sidebar")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jquery.validate.unobtrusive")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</head> 

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(DomainRoutingHelpers.GetDomainNameFromContext(this.Context), "IOT", "Home", null, new { @class = "navbar-brand" })
                }
               
            </div>

            <div class="navbar-collapse collapse">

                <div class="col-md-4">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated)
                        {

                        }
                        else
                        {
                           <li>@Html.ActionLink("Home", "Index", "Home")</li>
                           <li>@Html.ActionLink("About", "About", "Home")</li>
                           <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        }

                    </ul>
                </div>

                <div class="col-md-2">
                    <center>
                        <div class="pull-left" style="color: #64F0FE; padding: 15px;" id="menuTimer"></div>
                    </center>
                </div>

                <div class="col-md-4">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    </div>

   @* @{ Html.RenderAction("Top", "Menu"); }    *@

    <div class="row">
        <div class="col-md-2">
            @{ Html.RenderAction("Side", "Menu"); }
        </div>

        <div class="col-md-10">
            
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_DashboardBreadcrumbsPartial")
                </div>
            </div>

            <div class="row">
                <div cl ass="container body-content">
                    @RenderBody()
                </div>
            </div>

        </div>

        @*<div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - Dominik Guz</p>
            </footer>
        </div>*@

    </div>

   



    
    @RenderSection("scripts", required: false)

</body>
</html>
