<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iotDash</title>
    <meta name="description" content="iotDash" />

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/css/grayscale")
    @Styles.Render("~/bundles/css/sidebar")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/gray")
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("iotDash", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("IOT", "IOT", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-9">
            <div class="container body-content">
                @RenderBody()

            </div>
        </div>

    </div>

    <div class="row">
        <footer>
            <p>&copy; @DateTime.Now.Year - DASH</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)

</body>
</html>
