@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" >
        <li>
            <div class="btn-group"  style="padding: 7px;">
                @*<a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> @HttpContext.Current.User.Identity.Name </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="fa fa-caret-down"></span>
                </a>*@

                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="userDropDown" aria-haspopup="true" aria-expanded="false">
                    @HttpContext.Current.User.Identity.Name
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="userDropDown">
                    <li><a href=""><i class="fa fa-pencil fa-fw"></i> Account</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-ban fa-fw"></i> Logout</a></li>
                </ul>

            </div>
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
