@model iotDash.Areas.AlarmSystem.Models.AlarmSystemGlobalEditModel
@using Newtonsoft.Json
@using sconnConnector

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/toggleswitch")
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/numspin")
@Scripts.Render("~/bundles/fancybox")

@Styles.Render("~/bundles/css/toggleswitch")
@Styles.Render("~/bundles/css/numspin")


<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

<link rel="stylesheet" href="~/Content/css/leaflet.awesome-markers.css">
<script src="~/Scripts/leaflet.awesome-markers.js"></script>


<script src="~/signalr/hubs"></script>


@{
    ViewBag.Title = "Index";
}

@if (Model.Config != null)
{
    <h2>@Model.Config.Name</h2>
}


<script type="text/javascript">

    /*
        !!!!!!!!! ALL HUB OBJECTS START WITH LOWERCASE IN JS !!!!!!!!!!
    */
    var hubModel;
    var hubProxy;

    $(function () {

        hubProxy = $.connection.alarmSystemMapHub;     // the generated client-side hub proxy
        hubProxy.client.updateMap = function (mapData)
        {
            hubModel = mapData;
        }

        $.connection.hub.start().done(function () {
            hubProxy.server.getMapData(@Model.ServerId.ToString());   //intialy load map data
        });

        
        var startLat = 49.78395;
        var startLng = 19.05815;

        var mapCenter = [startLat, startLng];
        var map = L.map('map', { center: mapCenter, zoom: 19 });
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            maxZoom: 24,
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            id: 'domainlocation.map'
        }).addTo(map);


        var IoIcon = L.Icon.extend({
            options: {
                iconSize: [38, 95],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76]
            }
        });

        var outputIcon = new IoIcon({ iconUrl: '/Content/img/mapka1.png' }),
        inputIcon = new IoIcon({ iconUrl: '/Content/img/mapka2.png' }),
        systemIcon = new IoIcon({ iconUrl: '/Content/img/mapka3.png' });

        L.icon = function (options) {
            return new L.Icon(options);
        };

        var markers = [], // an array containing all the markers added to the map
		markersCount = 0; // the number of the added markers

        // Dragging and dropping the markers to the map
        var addMarkers = function () {

            // The position of the marker icon
            var posTop = $('.draggable-marker').css('top'),
            posLeft = $('.draggable-marker').css('left');

            $('.draggable-marker').draggable({
                cancel: false,
                stop: function (e, ui) {
                    
                    var draggableId = $(this).draggable().attr("id");
                    var ioId = $(this).draggable().attr("value");
                    var ioType = $(this).draggable().attr("alt");
                    //var droppableId = $(this).attr("id");

                    // $('.draggable-marker').remove();   //css('top', posTop);        // returning the icon to the menu
                    $(this).draggable().remove();   //destroy draggable

                    var positionMapX = $("#map").offset().left;
                    var positionMapY = $("#map").offset().top;
                    
                    var ioIcon;
                    if (draggableId.indexOf('output') > -1) {
                        ioIcon = outputIcon;
                    }
                    else if (draggableId.indexOf('input') > -1) {
                        ioIcon = inputIcon;
                    }
                    else if (draggableId.indexOf('relay') > -1) {
                        ioIcon = outputIcon;
                    }
                    else {

                    }

                    var coordsX = e.clientX - positionMapX, // 50 is the width of the menu
                        coordsY = e.clientY - positionMapY, // 20 is the half of markers height
                        point = L.point(coordsX, coordsY), // createing a Point object with the given x and y coordinates
                        markerCoords = map.containerPointToLatLng(point); // getting the geographical coordinates of the point


                    var innerPopupContent = "<div>" + ioType + " : " + ioId + "</div>";

                    // Creating a new marker and adding it to the map
                    markers[markersCount] = L.marker([markerCoords.lat, markerCoords.lng], {
                        draggable: true,
                        icon: ioIcon
                    }).addTo(map).bindPopup(innerPopupContent);

                    var devicemap = new Object();
                    devicemap.IoMapDefinitions =  [];
                    


                    var ioMapDefinition = new Object();
                    ioMapDefinition.Latitude = markerCoords.lat;
                    ioMapDefinition.Longitude = markerCoords.lng;
                    ioMapDefinition.IoId = ioId;
                    ioMapDefinition.DeviceIoCategory = ioType;
                    devicemap.IoMapDefinitions.push(ioMapDefinition);
                    hubModel.Map.DeviceMaps.push(devicemap);

                    markersCount++;
                }
            });
        }
        
        addMarkers();

        $('#mapsubmit').click(function () {
            hubProxy.server.updateAlarmMap(hubModel);
        });

    });



</script>


<style>
    .awesome-marker i {
        font-size: 18px;
        margin-top: 8px;
    }

    .draggable-marker {
        width: 20px;
        margin: 12px;
        cursor: pointer;
        z-index: 2;
    }


</style>

@functions{

    public string SpanClassForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "label label-success";
        }
        else
        {
            return "label label-danger";
        }
    }

    public string DescForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "Armed";
        }
        else
        {
            return "Disarmed";
        }
    }



    public string SpanClassForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string SpanClassForFailureStatusDisplay()
    {
        if (Model.Config.Failure)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string DescForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "Yes";
        }
        else
        {
            return "No";
        }
    }


    public string DescForArmAction()
    {
        if (Model.Config.Armed)
        {
            return "Disarm";
        }
        else
        {
            return "Arm";
        }
    }

}


<div class="container-fluid">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <center>
                    <h2>Status</h2>
                </center>
            </div>


            <div class="panel-body">

                <div class="row">
                    <table class="table">

                        <tr>
                            <td>Armed</td>
                            <td><span class='@SpanClassForArmStatusDisplay()'>@DescForArmStatusDisplay()</span></td>
                        </tr>

                        <tr>
                            <td>Violation</td>
                            <td><span class='@SpanClassForViolationStatusDisplay()'>@DescForViolationStatusDisplay()</span></td>
                        </tr>

                        <tr>
                            <td>Failure</td>
                            <td><span>@Model.Config.Failure.ToString()</span></td>
                        </tr>

                        <tr>
                            <td>Device Number</td>
                            <td>@Model.Config.Devices</td>
                        </tr>

                        <tr>
                            <td>Zones</td>
                            <td><span>@Model.Config.Zones.ToString()</span></td>
                        </tr>

                        <tr>
                            <td>Latitude</td>
                            <td><span>@Model.Config.Lat.ToString()</span></td>
                        </tr>

                        <tr>
                            <td>Longitude</td>
                            <td><span>@Model.Config.Lng.ToString()</span></td>
                        </tr>

                    </table>

                </div>


                <div class="row">


                    <div class="col-lg-8 col-sm-8 col-xs-12 center-block">
                        <div class="map_container">
                            <div id="map_canvas" class="map_canvas">
                                <div class="form-group">
                                    <div id="map" style="height: 400px">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <style>
                        .iomenuItem {
                            background-color: aqua;
                        }
                    </style>

                    <div class="col-lg-4 col-sm-4 col-xs-12 center-block">

                        <ul class="pull-right nav nav-pills nav-stacked right-menu" id="stacked-menu">

                            @foreach (var device in Model.Devices)
                            {
                                <li class="iomenuItem">
                                    <a href="#"  data-target="#stack-menu-device-@device.Id.ToString()" data-toggle="collapse" data-parent="#stacked-menu">Device : @device.Name <span class="caret arrow"></span></a>
                                    <ul class="nav nav-stacked collapse right-submenu" id='stack-menu-device-@device.Id.ToString()'>

                                        <li class="iomenuItem">
                                            <a href="#" data-target="#input-list-@device.Id.ToString()" data-toggle="collapse" data-parent="#stack-menu-device-@device.Id.ToString()">Inputs<span class="caret arrow"></span></a>
                                            <ul class="nav nav-stacked collapse right-submenu" id="input-list-@device.Id.ToString()">
                                                @foreach (var input in device.Inputs)
                                                {
                                                    <li class="iomenuItem">
                                                        @*<button id="iomarker-output-@input.Id.ToString()-@device.Id.ToString()" value="@input.Id.ToString()" class="col-md-12 btn btn-warning navbar-btn draggable-marker" src="/Content/img/mapka2.png" alt="@input.Type.ToString()" type="button">
                                                            <span class="draggable-marker poi-type glyphicon glyphicon-log-in">
                                                            </span>
                                                            @input.Id.ToString() @input.Name
                                                        </button>*@
                                                        <img id="iomarker-output-@input.Id.ToString()-@device.Id.ToString()" value="@input.Id.ToString()" class="draggable-marker" type="tree" src="/Content/img/mapka2.png" alt="@input.Type.ToString()" />
                                                        @input.Id.ToString() @input.Name
                                                    </li>
                                                }
                                            </ul>
                                        </li>

                                        <li class="iomenuItem">
                                            <a href="#"   data-target="#output-list-@device.Id.ToString()" data-toggle="collapse" data-parent="#stack-menu-device-@device.Id.ToString()">Outputs<span class="caret arrow"></span></a>
                                            <ul class="nav nav-stacked collapse right-submenu" id="output-list-@device.Id.ToString()">
                                                @foreach (var output in device.Outputs)
                                                {
                                                    <li class="iomenuItem">
                                                        @*<span class="draggable-marker poi-type glyphicon glyphicon-bell">
                                                            @output.Id.ToString() @output.Name
                                                        </span>
                                                        <img id="iomarker-output-@output.Id.ToString()-@device.Id.ToString()" value="@output.Id.ToString()" class="draggable-marker" type="tree" src="/Content/img/mapka1.png" alt="@output.Type.ToString()"/>*@
                                                        <img id="iomarker-output-@output.Id.ToString()-@device.Id.ToString()" value="@output.Id.ToString()" class="draggable-marker" type="tree" src="/Content/img/mapka2.png" alt="@output.Type.ToString()" />
                                                        @output.Id.ToString() @output.Name
                                                    </li>
                                                }
                                            </ul>
                                        </li>

                                        <li class="iomenuItem">
                                            <a href="#" data-target="#relay-list-@device.Id.ToString()" data-toggle="collapse" data-parent="#stack-menu-device-@device.Id.ToString()">Relays<span class="caret arrow"></span></a>
                                            <ul class="nav nav-stacked collapse right-submenu" id="relay-list-@device.Id.ToString()">
                                                @foreach (var relay in device.Relays)
                                                {
                                                    <li class="iomenuItem">
                                                        <img id="iomarker-output-@relay.Id.ToString()-@device.Id.ToString()" value="@relay.Id.ToString()" class="draggable-marker" type="tree" src="/Content/img/mapka2.png" alt="@relay.Type.ToString()" />
                                                        @relay.Id.ToString() @relay.Name
                                                    </li>

                                                }
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                            }

                        </ul>

                        <div class="form-group">
                            <button id="mapsubmit" class="btn btn-primary" type="submit">Save</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <center>
                    <h2>Firmware upload</h2>
                </center>
            </div>


            <div class="panel-body">
                @using (Html.BeginForm("UploadFirmware", "AlarmSysytemView", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="form-group" style="position: relative;">
                        <a class='btn btn-primary' href='javascript:;'>
                            Choose File...
                            <input type="file" style='position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                        </a>
                        &nbsp;
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>

                        <div class="form-group">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </div>

                    <div class="form-group">
                        Sending...
                        <div class="progress">
                            <div class="progress-bar progress-bar-succcess" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                100%
                            </div>
                        </div>
                    </div>

                        <div class="form-group">
                            Veryfing...
                            <div class="progress">

                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%;">
                                    20%
                                </div>
                            </div>
                        </div>
                }
            </div>

        </div>

    </div>



</div>