@model iotDash.Areas.AlarmSystem.Models.AlarmSystemGlobalModel
@using sconnConnector

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/toggleswitch")
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/numspin")
@Scripts.Render("~/bundles/fancybox")
@Scripts.Render("~/bundles/maps")
@Scripts.Render("~/bundles/bootstrap-toggle")

@Styles.Render("~/bundles/css/toggleswitch")
@Styles.Render("~/bundles/css/numspin")
@Styles.Render("~/bundles/css/maps")
@Styles.Render("~/bundles/css/bootstrap-toggle")

@{
    ViewBag.Title = "Index";
}

@if (Model.Config != null)
{
    <h2>@Model.Config.Name</h2>
}

<script src="~/signalr/hubs"></script>

<script type="text/javascript">

    $(function () {

        var startLat = 49.78395;
        var startLng = 19.05815;

        var mapCenter = [startLat, startLng];
        var map = L.map('map', { center: mapCenter, zoom: 14 });
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            id: 'domainlocation.map',
            noWrap: true
        }).addTo(map);

        var marker = L.marker(mapCenter).addTo(map);
        var updateMarker = function (lat, lng) {
            marker
                .setLatLng([lat, lng])
                .bindPopup("Location :  " + marker.getLatLng().toString())
                .openPopup();
            return false;
        };

        map.on('click', function (e) {
            $('#latInput').val(e.latlng.lat);
            $('#lngInput').val(e.latlng.lng);
            updateMarker(e.latlng.lat, e.latlng.lng);
        });


        var updateMarkerByInputs = function () {
            return updateMarker($('#latInput').val(), $('#lngInput').val());
        }

        updateMarker(startLat, startLng); //initially update to start possition
        $('#latInput').val(startLat);
        $('#lngInput').val(startLng);

        $('#latInput').on('input', updateMarkerByInputs);
        $('#lngInput').on('input', updateMarkerByInputs);

    });

    $(document).ready(function () {
        $(".fancybox").fancybox();
    });


</script>


@functions{

    public string SpanClassForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "label label-success";
        }
        else
        {
            return "label label-danger";
        }
    }

    public string DescForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "Armed";
        }
        else
        {
            return "Disarmed";
        }
    }



    public string SpanClassForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string SpanClassForFailureStatusDisplay()
    {
        if (Model.Config.Failure)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string DescForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "Yes";
        }
        else
        {
            return "No";
        }
    }


    public string DescForArmAction()
    {
        if (Model.Config.Armed)
        {
            return "Disarm";
        }
        else
        {
            return "Arm";
        }
    }

}



<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist" id="actionselector">
        <li role="presentation" style="width: 50%;" class="active">
            <a href="#tabStatus" aria-controls="tabStatus" role="tab" data-toggle="tab">Status</a>
        </li>
        <li role="presentation" style="width:50%;">
            <a href="#tabConfigure" aria-controls="tabConfigure" role="tab" data-toggle="tab">Configure</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tabStatus">
            <div class="container-fluid">

                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <h2>Status</h2>
                            </center>
                        </div>

                        <div class="panel-body">

                            <div class="col-md-6">
                                @*<div id="map" style="height:400px;">
                                </div>*@


                                <div class="row">
                                    <div class="map_container">
                                        <div id="map_canvas" class="map_canvas">
                                            <div class="form-group">
                                                <div id="map" style="height: 400px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                @if (Model.Config != null)
                                {
                                    <div class="row">

                                        <div class="col-lg-3 col-sm-4 col-xs-12">
                                            <div style="margin-left: auto; margin-right: auto;" align="center" class="pagination-centered">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    @if (Model.Config.Armed)
                                                    {
                                                        <img src="~/Content/img/klodka4.png" class="thumbnail img-responsive">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/klodka3a.png" class="thumbnail img-responsive">
                                                    }
                                                </a>
                                            </div>



                                        </div>

                                        <div class="col-lg-3 col-sm-4 col-xs-12">
                                            <div style="margin-left: auto; margin-right: auto;" align="center" class="pagination-centered">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    @if (Model.Config.Failure)
                                                    {
                                                        <img src="~/Content/img/wykrzyknik1.png" class="thumbnail img-responsive">

                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/wykrzyknik2.png" class="thumbnail img-responsive">
                                                    }
                                                </a>
                                             </div>
                                            </div>


                                        <div class="col-lg-3 col-sm-4 col-xs-12 center-block">
                                            <div style="margin-left: auto; margin-right: auto;" align="center" class="pagination-centered">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    @if (Model.Config.Violation)
                                                    {
                                                        <img src="~/Content/img/oko5.png" class="thumbnail img-responsive">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/oko6.png" class="thumbnail img-responsive">
                                                    }
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row col-md-12">

                                        <ul class="list-group">


                                            <li class="list-group-item">
                                                <span class="glyphicon glyphicon-th-list"></span>
                                                Devices :
                                                <span class="label label-default label-pill pull-right pull-xs-right">@Model.Config.Devices</span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="glyphicon glyphicon-lock"></span>
                                                Armed :
                                                <span class="@SpanClassForArmStatusDisplay() label label-default label-pill pull-right pull-xs-right">@DescForArmStatusDisplay()</span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <td>Violation</td> :
                                                <span class="@SpanClassForViolationStatusDisplay() label label-default label-pill pull-right pull-xs-right">@DescForViolationStatusDisplay()</span>
                                            </li>



                                            <li class="list-group-item">
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                                Failure :
                                                <span class="@SpanClassForFailureStatusDisplay() label label-default label-pill pull-right pull-xs-right">@Model.Config.Failure.ToString()</span>
                                            </li>

                                        </ul>

                            </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabConfigure">

            <div role="tabpanel">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <center>
                            <h2>Select configuration type</h2>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Edit", "AlarmSystemView", new {ServerId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/config1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Global</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "AlarmSystemDeviceConfig", new {ServerId = Model.ServerId, DeviceId = 0})" role="button">
                                        <img src="~/Content/img/config2.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Devices</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemZonesConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/strefy1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Zones</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemGsmConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/tel.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Reporting</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("CommunicationConfigure", "AlarmSystemDeviceConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/patchcord.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Communication</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemUsersConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/user.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Users</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemAuthorizedDevices", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/config2.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Authorization</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-sm-4 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemEvents", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/zegar1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Events</h3>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>


                @*@{Html.RenderAction("ConfigurationSelect", new { DeviceId = Model.ServerId });}*@

            </div>

        </div>

    </div>
</div>
