@model iotDash.Areas.AlarmSystem.Models.AlarmSystemGlobalModel
@using sconnConnector

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/toggleswitch")
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/numspin")
@Scripts.Render("~/bundles/fancybox")

@Styles.Render("~/bundles/css/toggleswitch")
@Styles.Render("~/bundles/css/numspin")


<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>


@{
    ViewBag.Title = "Index";
}

@if (Model.Config != null)
{
    <h2>@Model.Config.Name</h2>
}

<script src="~/signalr/hubs"></script>

<script type="text/javascript">

    $(function () {

        var map = L.map('map', {
            maxZoom: 24,
            minZoom: 1,
            crs: L.CRS.Simple
        }).setView([0, 0], 1);

        map.setMaxBounds(new L.LatLngBounds([0, 500], [500, 0]));

        var imageUrl = 'http://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg';
        var imageBounds = [[250, 0], [0, 250]];
        L.imageOverlay(imageUrl, imageBounds).addTo(map);

    });

    $(document).ready(function () {
        $(".fancybox").fancybox();
    });


</script>


@functions{

    public string SpanClassForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "label label-success";
        }
        else
        {
            return "label label-danger";
        }
    }

    public string DescForArmStatusDisplay()
    {
        if (Model.Config.Armed)
        {
            return "Armed";
        }
        else
        {
            return "Disarmed";
        }
    }



    public string SpanClassForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string SpanClassForFailureStatusDisplay()
    {
        if (Model.Config.Failure)
        {
            return "label label-danger";

        }
        else
        {
            return "label label-success";
        }
    }


    public string DescForViolationStatusDisplay()
    {
        if (Model.Config.Violation)
        {
            return "Yes";
        }
        else
        {
            return "No";
        }
    }


    public string DescForArmAction()
    {
        if (Model.Config.Armed)
        {
            return "Disarm";
        }
        else
        {
            return "Arm";
        }
    }

}



<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist" id="actionselector">
        <li role="presentation" style="width: 50%;" class="active">
            <a href="#tabStatus" aria-controls="tabStatus" role="tab" data-toggle="tab">Status</a>
        </li>
        <li role="presentation" style="width:50%;">
            <a href="#tabConfigure" aria-controls="tabConfigure" role="tab" data-toggle="tab">Configure</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tabStatus">
            <div class="container-fluid">

                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <h2>Info</h2>
                            </center>
                        </div>

                        <div class="panel-body">

                            <div class="col-md-6">
                                <div id="map" style="height:400px;">
                                </div>
                            </div>

                            <div class="col-md-6">
                                @if (Model.Config != null)
                                {
                                    <div class="row">

                                        <div class="col-lg-6 col-sm-6 col-xs-12">
                                            <div style="margin-left: auto; margin-right: auto;" align="center" class="pagination-centered">
                                                <a  href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    @if (Model.Config.Armed)
                                                    {
                                                        <img src="~/Content/img/klodka2.png" class="thumbnail img-responsive">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/klodka1.png" class="thumbnail img-responsive">
                                                    }
                                                </a>        
                                            </div>
                                                                     
                                        

                                        </div>

                                        <div class="col-lg-6 col-sm-6 col-xs-12 center-block">
                                            <div style="margin-left: auto; margin-right: auto;" align="center" class="pagination-centered">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    @if (Model.Config.Violation)
                                                    {
                                                        <img src="~/Content/img/oko3.png" class="thumbnail img-responsive">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/oko4.png" class="thumbnail img-responsive">
                                                    }
                                                </a>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="row">

                                        @if (Model.Config.Failure)
                                        {
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    <img src="~/Content/img/wykrzyknik.png" class="thumbnail img-responsive">
                                                </a>
                                            </div>
                                        }


                                        @*<div class="col-lg-6 col-sm-6 col-xs-12">
                                                <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                                    <img src="~/Content/img/wykrzyknik.png" class="thumbnail img-responsive">
                                                </a>
                                            </div>*@

                                    </div>
                                }


                            </div>

                        </div>

                    </div>

                </div>


                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <h2>Status</h2>
                            </center>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>

                        <table class="table">
                            <tr>
                                <td>Device Number</td>
                                <td>@Model.Config.Devices</td>
                            </tr>

                            <tr>
                                <td>Armed</td>
                                <td><span class='@SpanClassForArmStatusDisplay()'>@DescForArmStatusDisplay()</span></td>
                            </tr>

                            <tr>
                                <td>Violation</td>
                                <td><span class='@SpanClassForViolationStatusDisplay()'>@DescForViolationStatusDisplay()</span></td>
                            </tr>

                            <tr>
                                <td>Failure</td>
                                <td><span class='@SpanClassForFailureStatusDisplay()'>@Model.Config.Failure.ToString()</span></td>
                            </tr>


                            <tr>
                                <td></td>
                                <td><span class='@SpanClassForViolationStatusDisplay()'>@DescForViolationStatusDisplay()</span></td>
                            </tr>

                        </table>

                    </div>

                </div>

                <div class="row">
                    @Html.ActionLink(@DescForArmAction(), "ToggleArm", new { DeviceId = Model.ServerId }, new { @class = "btn btn-primary" })
                </div>


            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabConfigure">

            <div role="tabpanel">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <center>
                            <h2>Select configuration type</h2>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "AlarmSystemConfiguration", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/config1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Global</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("Index", "AlarmSystemDeviceConfig", new {ServerId = Model.ServerId, DeviceId = 0})" role="button">
                                        <img src="~/Content/img/config2.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Devices</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemZonesConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/strefy1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption text-center">
                                        <h3>Zones</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemGsmConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/tel.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Reporting</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("CommunicationConfigure", "AlarmSystemDeviceConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/patchcord.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Communication</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemUsersConfig", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/user.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Users</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemAuthorizedDevices", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/config2.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Authorization</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="thumbnail">
                                    <a href="@Url.Action("View", "AlarmSystemEvents", new {DeviceId = Model.ServerId})" role="button">
                                        <img src="~/Content/img/zegar1.png" class="thumbnail img-responsive">
                                    </a>
                                    <div class="caption  text-center">
                                        <h3>Events</h3>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>


                @*@{Html.RenderAction("ConfigurationSelect", new { DeviceId = Model.ServerId });}*@

            </div>

        </div>

    </div>
</div>
