@model iotDash.Models.AlarmSystemOutputsConfigureModel

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/numspin")

@Styles.Render("~/bundles/css/toggleswitch")
@Styles.Render("~/bundles/css/numspin")




<div class="container-fluid">

    <div class="row">

    </div>

    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Output setting</div>
            <div class="panel-body">

                @using (Html.BeginForm("SaveDeviceOutputs", "AlarmSystemView", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.HiddenFor(model => model.DeviceId)
                        @Html.HiddenFor(model => model.ServerId)
                    </div>

                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <th>Output </th>
                                <th>Enabled</th>
                                <th>Type</th>

                            </tr>

                            @for (int i = 0; i < Model.Outputs.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.Outputs[i].Name)
                                    </td>

                                    @Html.HiddenFor(model => model.Outputs[i].Id)
                                    @Html.HiddenFor(model => model.Outputs[i].NameId)

                                    <td>
                                        @Html.CheckBoxFor(model => model.Outputs[i].Enabled)
                                    </td>


                                    <td>
                                        @Html.TextBoxFor(model => model.Outputs[i].Type)

                                    </td>

                                </tr>
                            }
                        </table>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Send" />
                    </div>

                }

            </div>
        </div>

    </div>


    <div class="row">
        <div id="resultview">
        </div>
    </div>


</div>
