@model iotDash.Models.UserCreateModel

@{
    ViewBag.Title = "Add";
}

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@*<script>
    $(function () {
        $('.list-group.checked-list-box .list-group-item').each(function () {

            // Settings
            var $widget = $(this),
               // $checkbox = $('<input type="checkbox" class="hidden" />'),
                color = ($widget.data('color') ? $widget.data('color') : "primary"),
                style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            var checkbox = $('.seltypechk', $(this)).html();

            $widget.css('cursor', 'pointer')

            //$widget.append($checkbox);    - manual razor loaded checkbox

            // Event Handlers
            $widget.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });


            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $widget.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $widget.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$widget.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $widget.addClass(style + color + ' active');
                } else {
                    $widget.removeClass(style + color + ' active');
                }
            }

            // Initialization
            function init() {

                if ($widget.data('checked') == true) {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                }

                updateDisplay();

                // Inject the icon if applicable
                if ($widget.find('.state-icon').length == 0) {
                    $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                }
            }
            init();
        });

        $('#get-checked-data').on('click', function (event) {
            event.preventDefault();
            var checkedItems = {}, counter = 0;
            $("#check-list-box li.active").each(function (idx, li) {
                checkedItems[counter] = $(li).text();
                counter++;
            });
            $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
        });
    });

</script>

<style>
    /* CSS REQUIRED */
    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>*@


<div class="container-fluid">

    <div class="row">
    </div>

    <div class="row">
        <div id="addraz">
            @using (Html.BeginForm("Add", "Users"))
            {
                <fieldset>

                    <legend>Add user</legend>

                    <div class="form-group">
                        @Html.HiddenFor(model => model.User.DomainId)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.UserName)
                        @Html.TextBoxFor(model => model.User.UserName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                            @Html.LabelFor(model => model.Roles)

                            @*@Html.ListBoxFor(x => x.SelectedIds, Model.Roles)*@

                            @*@Html.EnumDropDownListFor(model => (new MultiSelectList(model.Roles)), new { @class = "form-control", @multiple = "multiple" })*@

                        <div class="well" style="max-height: 300px; overflow: auto;">
                            <ul class="list-group checked-list-box">
                                @for (int i = 0; i < Model.Roles.Count; i++)
                                {
                                    <li class="list-group-item form-control">
                                        @*<input type="checkbox" value="@Model.Roles[i].Id" id="@Model.Roles[i]." class="hidden"/>*@
                                        @Html.CheckBoxFor(m => Model.Roles[i].Active, new { @class = "", @multiple = "multiple", @value = Model.Roles[i].Name })  @*hidden seltypechk*@
                                        @Html.HiddenFor(m => Model.Roles[i].Id)
                                        @Html.HiddenFor(m => Model.Roles[i].Name)
                                        @Model.Roles[i].Name
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Send" />
                    </div>

                </fieldset>
            }
        </div>

    </div>

    <div class="row">
        <div id="resultview">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Result))
        </div>
    </div>


</div>