@using iotDash.Identity.Roles
@using iotDash.Models
@model iotDash.Models.UserListModel

@{
    ViewBag.Title = "View";
}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Users</h2>


<div class="panel panel-primary">

    <div class="panel-heading text-center">
        <h2>Users</h2>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/EditorTemplate/ToolbarMenu.cshtml")
            </div>
        </div>

        <div class="row">

            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone  Number</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>


                    @foreach (ApplicationUser d in Model.Users)
                    {
                        <tr>

                            <td> @d.UserName </td>

                            <td> @d.Email</td>

                            <td> @d.PhoneNumber</td>

                            <td> @d.Roles.Count.ToString()</td>

                            <td>

                                <ul class="sidebar-nav" id="sidebar">

                                    <li role="presentation">
                                        <a href="@Url.Action("Edit", "Users")"><span class=" glyphicon glyphicon-wrench"></span></a>
                                    </li>

                                    <li role="presentation">
                                        <a href="@Url.Action("Remove", "Users")"><span class=" glyphicon glyphicon-trash"></span></a>
                                    </li>

                                </ul>

                            </td>


                        </tr>

                    }

                    <tr>
                        <td>
                            <a href="@Url.Action("Add", "Users")"><span class=" glyphicon glyphicon-plus"></span></a>
                        </td>

                    </tr>


                </table>

            </div>
        </div>

    </div>

</div>


